apiVersion: v1
kind: Service
metadata:
  name: {{ include "file-upload-service.fullname" . }}
  namespace: {{ include "file-upload-service.namespace" . }}
  labels:
    {{- include "file-upload-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: {{ .Values.service.name }}
  selector:
    {{- include "file-upload-service.selectorLabels" . | nindent 4 }}

